<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="card p-fluid">
    <h5>Reset Password </h5>
    <div class="field">
      <label htmlFor="email">Email</label>
      <input pInputText id="email" name="email" type="email" #passwordResetEmail autocomplete="email" required />
    </div>
    <button pButton pRipple
      (click)="authService.forgotPassword(passwordResetEmail.value)"
      label="Reset password" class="p-2 text-xl"></button>
      <br><br>
    <div class="flex align-items-center justify-content-between mb-5 gap-5">
      <div class="flex align-items-center">
        <label for="rememberme1">Remember me</label>
      </div>
      <a class="font-medium no-underline ml-2 text-right cursor-pointer" routerLink="/forgot-password"
        style="color: var(--primary-color)">Forgot password?</a>
    </div>
  </div>
</div>
