<!-- <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8" *ngIf="authService.userData as user">
  <div class="px-4 sm:px-0">
    <h3 class="text-base font-semibold leading-7 text-gray-900">Applicant Information</h3>
    <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">Personal details and application.</p>
  </div>
  <div class="mt-6 border-t border-gray-100">
    <dl class="divide-y divide-gray-100">
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">first name</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ user.firstName }}</dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">last name</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ user.lastName }}</dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">Email address</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ user.email }}</dd>
      </div>
    </dl>
<div>
    <input
    type="button"
    (click)="authService.signOut()"
    value="déconnecter"
    class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
  />
</div>
<br>
<button
class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
(click)="getPkm()">Afficher le contenu du fichier</button>

    </div>
  </div>
  <div class="card flex justify-content-center">
    <p-button label="Check" icon="pi pi-check"></p-button>
</div> -->
<div class="grid">
 
  
  <div class="col-12 xl:col-12">
    <div class="card">
      <h5>Matchs</h5>

        <p-tabMenu [scrollable]="true" [model]="items" [activeItem]="activeItem" (activeItemChange)="onActiveItemChange($event)"></p-tabMenu>
        <p-table [value]="(choose_match())" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-striped">
          <ng-template pTemplate="body" let-match>
      
              <tr >
                  <td class="name">
                      <img src="{{match.team1.logo}}" class="flag1" style="width: 20px" />
                      {{match.team1.name}}
                  </td>
                  <td>
                      <span class="resultats">{{match.goal_1}} - {{match.goal_2}}</span>
                  </td>
                  <td>
                      <img src="{{match.team2.logo}}" class="flag1" style="width: 20px" />
                      {{match.team2.name}}
      
                  </td>
                  <td>
                      <span class="match_end resultats {{color_stat}}">{{match.status}}</span>
                  </td>
                  <td>
                      {{match.date}}
                  </td>
                  <td>
                      <span class="pi pi-info-circle"></span>
                      <span class="pi pi-chart-line"></span>
      
                  </td>
              </tr>
          </ng-template>
      </p-table>
      </div>
   
  </div>
  <div class="col-12 xl:col-12">
    <div class="card">
      <h5>Table</h5>
      <app-rank-table2></app-rank-table2>

    </div>
  </div>

</div>