<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="card p-fluid">
    <h5>Sign UP!</h5>
    <div class="field">
      <label htmlFor="first-name">First Name</label>
      <input pInputText type="text" #userFirstName name="first-name" id="first-name" autocomplete="given-name" />
    </div>
    <div class="field">
      <label htmlFor="last-name">Last Nme</label>
      <input pInputText type="text" #userLastName name="last-name" id="last-name" autocomplete="family-name" />
    </div>
    <div class="field">
      <label htmlFor="email">Email</label>
      <input pInputText id="email" #userEmail name="email" type="email" autocomplete="email" />
    </div>
    <div class="field">
      <label htmlFor="password">Password</label>
      <input pInputText #userPwd name="password" type="password" autocomplete="current-password" required />
    </div>

    <button pButton pRipple
      (click)="authService.signUp(userEmail.value, userPwd.value, userLastName.value, userFirstName.value)"
      label="Sign In" class="p-2 text-xl"></button>
    <br>
    <br> <button pButton pRipple class="p-2 text-xl border-gray-900 bg-gray-100 text-gray-900" label="Cancel"
      routerLink="/"></button>

  </div>