<div class="grid">
  <div class="col-12 xl:col-12 ">
    <div class="card grid">
      <div class="col-12 xl:col-12 centrer">
        <h5>{{ matchDetails.response[0].fixture.venue.name }}</h5>
      </div>
      <div class="col-12 xl:col-4 centrer">
        <h6>{{ matchDetails.response[0].teams.home.name }}</h6>
        <p-avatar
          image="{{ matchDetails.response[0].teams.home.logo }}"
          styleClass="m-1"
          size="xlarge"
        ></p-avatar>
      </div>
      <div class="col-12 xl:col-4 centrer vertical-center">
        <div>
          <p-chip styleClass="m-3 pl-2 pr-2">
            <span class="m-2 font-medium text-blue-500">{{matchDetails.response[0].goals.home}}</span>
            <span class="m-2 font-medium text-blue-500">-</span>
            <span class="m-2 font-medium text-blue-500">{{matchDetails.response[0].goals.away}}</span>
          </p-chip>
        </div>
        <div>
          <p-tag severity="success" value="full-match" [rounded]="true"></p-tag>
        </div>
      </div>
      <div class="col-12 xl:col-4 centrer">
        <h6>{{ matchDetails.response[0].teams.away.name }}</h6>
        <p-avatar
          image="{{ matchDetails.response[0].teams.away.logo }}"
          styleClass="m-1"
          size="xlarge"
        ></p-avatar>
      </div>
    </div>
  </div>
  <div class="col-12 xl:col-12 ">
    <div class="card grid">
      <div class=" col-12 xl:col-12 centrer">
        <h5>Line Ups</h5>
        </div>
        <div class=" col-12 xl:col-6 gauche">

        <p *ngFor="let player of matchDetails.response[0].lineups[0].startXI">
        <b> {{player.player.pos}} </b><b class="text-blue-400">{{player.player.number}}  </b> {{ player.player.name }}
        </p>
        </div>
        <div class=" col-12 xl:col-6 droite">
        <p *ngFor="let player of matchDetails.response[0].lineups[1].startXI">
           {{ player.player.name }}  <b class="text-blue-400">{{player.player.number}}  </b> <b>{{player.player.pos}}</b>
        </p>
        
    </div>

  </div>
  <div class="col-12 xl:col-12">
    <div class="card center grid">
      <div class="col-12 xl:col-12 centrer">
        <h5>Team Statistic</h5>
      </div>
  <div class="col-12 xl:col-6 gauche">
              <h5 class="text-blue-400">{{ matchDetails.response[0].statistics[0].team.name }}</h5>
      <p *ngFor="let statistic of matchDetails.response[0].statistics[0].statistics">
        <b class="text-blue-400">{{ statistic.value }}</b>  {{ statistic.type }}
      </p>
      
      </div> 
      <div class="col-12 xl:col-6 droite">
        <h5 class="text-blue-400">{{ matchDetails.response[0].statistics[1].team.name }}</h5>
      <p *ngFor="let statistic of matchDetails.response[0].statistics[1].statistics">
         {{ statistic.type }} <b class="text-blue-400">{{ statistic.value }}</b>
      </p>
    </div>
   
  </div>

</div>