<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden" *ngIf="authService.userData as user">
  <main class="">
    <div class="text-center">
      <h3 class="text-blue-400"> We have sent a confirmation email to </h3>
      <h5 class="text-gray-900"> {{ user.email }}</h5>
      <p class="mt-6 text-base leading-7 text-gray-600">Please check your email and click on the link to verfiy your
        email address. .</p>
      <div class="">
        <button pButton pRipple
        (click)="authService.sendVerificationMail()"
      label="Resend Verification Email" class="p-2 text-xl">  <i class="fas fa-redo-alt"></i>    </button>
    <br>
    <br> <button pButton pRipple class="p-2 text-xl border-gray-900 bg-gray-100 text-gray-900" label="dashboard"
      routerLink="/dashboard"></button>

      </div>
    </div>
  </main>
</div>