.FT{
    color: #FA2929;
}
.NS{
    color: blueviolet;
    background-color: rgb(228, 205, 250);
}

.LV{
    color: rgb(75, 213, 167);
    background-color: rgb(176, 250, 225);
}
img.flag1 {
    width: 30px;
}

.flag1 {
    background-size: 100%;
    vertical-align: middle;
}