<p-table [value]="products" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-striped">
    <ng-template pTemplate="body" let-product let-columns="columns">
        <tr>
            <td class="name">
                <img src="https://media.api-sports.io/football/teams/15938.png" [class]="'flag'" style="width: 20px" />
                {{product.name}}
            </td>
            <td>
                <span class="resultats">1 - 2</span>
            </td>
            <td>
                {{product.name}}
                <img src="https://media.api-sports.io/football/teams/15938.png" [class]="'flag'" style="width: 20px" />
            </td>
            <td>
                <span class="match_end resultats">Full-Time</span>
            </td>
            <td>
                13 April 2024
            </td>
            <td>
                <span class="pi pi-info-circle"></span>
                <span class="pi pi-chart-line"></span>

            </td>
        </tr>
    </ng-template>
</p-table>